body {
    background-color: green;
}
.container {
    width: 40%;
    margin: 20% auto;
}

.white-keys kbd {
    background-color: white;
    border: black solid 1px;
    padding: 150px 20px 20px 20px;
    margin-right: -2px;
    margin-left: -2px;
    display: inline-block;
}

.black-keys kbd {
    background-color: black;
    color: white;
    border: black solid 1px;
    padding: 100px 14px 14px 20px;
    margin-right: -17px;
    margin-left: 20px;

    position: relative;
    top: -186px;
    display: inline-block;
}

